.control {
  margin-top: 100px;
  display: flex;
}

.list {
  width: 400px;
  height: 1000px;
  margin-right: 20px;
}

.list1 {
  width: 400px;
  height: 1000px;
  margin-right: 20px;
}

.list2 {
  width: 400px;
  height: 1000px;
  margin-right: 20px;
}

.list ul {
  height: 1000px;
  width: 400px;
}
.list1 ul {
  height: 1000px;
  width: 400px;
}
.list2 ul {
  height: 1000px;
  width: 400px;
}

ul {
  list-style-type: none;
}

li {
  margin-top: 10px;
  border-radius: 4px;
  background-color: lightcoral;
  padding: 5px 30px 5px 10px;
}

.btn {
  margin-top: 20px;
}

#buttons {
  height: 100%;
  width: 50%;
}
